@font-face {
    font-family: "Segoe UI Custom";
    src: url("./fonts/Segoe UI.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Segoe UI Custom", sans-serif;
}